.App {
  text-align: center;
}

.centerAlign{
  align-items: center;  
}

.centerButton {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.middleEnd{
  text-align: center;
  margin-top: 30%;
}

.leftMargin{
  margin-left: 40%;
}

.paddingLeftTxt{
  margin-left: 5%;
}

.paddingTopTxt{
  margin-top: 5%;
}

#id01 {
  color : rgb(9, 44, 56);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
